#
# Java
#
bin
.pmd
out

#
# Package Files
#
*.jar
*.war
*.ear

#
# Gradle
#
build
.gradle

#
# IntelliJ
#
.idea/workspace.xml
.idea/tasks.xml
.idea/vcs.xml
.idea/gradle.xml
.idea/libraries
.idea/modules.xml
.idea/modules/

#
# TestNG
#
test-output
/testenv.sh

#
# OSX
#
.DS_Store
