#
# Java
#
bin
.pmd
out

#
# Package Files
#
*.jar
*.war
*.ear

#
# Gradle
#
build
.gradle

#
# IntelliJ
#
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries

# Keystore files
*.jks

#
# TestNG
#
test-output
/testenv.sh

#
# OSX
#
.DS_Store
