<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This computer code is copyright 2012 - 2014 Cognis Software Limited.
  ~
  ~ All rights reserved.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ChatD tests" parallel="classes" thread-count="8">
    <test verbose="1" name="java" annotations="JDK">
        <classes>
            <class name="com.wealdtech.chat.ChatDTest"/>
            <class name="com.wealdtech.chat.MessageTest"/>
        </classes>
    </test>
</suite>
